#section1 {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}
#section2 {
  background: linear-gradient(to top, #52c234, #061700);
}
#section3 {
  background: linear-gradient(to top, #ed213a, #93291e);
}
#section4 {
  background: linear-gradient(to right, #f46b45, #eea849);
}
